.img{
  width:50px;
  margin:2px;
}
body{
  background-color:#C6D9F1;
}
.fontXlarge{
  font-size: x-large;
}
.fontlarge{
  font-size: large;
}
.imgWelcome{
  width:400px;
  margin:20px;
}
.imgProd{
  width:200px;
  margin:2px;
}
.btnBack{
  width:80px;
}
.btnEdit{
  width:80px;
  margin-left:10px;
}
